{
  "printWidth": 100,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "preserve",
        "printWidth": 100,
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}